@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

.background-memory {
    --background-dark: rgba(69, 82, 52, 0.55);

    background:
        repeating-linear-gradient(65deg, transparent 0px, transparent 100px, var(--background-dark) 100px, var(--background-dark) 150px),
        repeating-linear-gradient(115deg, transparent 0px, transparent 100px, var(--background-dark) 100px, var(--background-dark) 150px),
        #95965c;
}

.memory-title {
    color: #3c472d;
}

/* ---------------------------------- Colors */

.color-background-red {
    background-color: #eb6564;
}

.color-background-green {
    background-color: #479b6b;
}

.color-background-blue {
    background-color: #7592a9;
    cursor: pointer;
}

.color-background-grey {
    background-color: #adadad;
}

/* ---------------------------------- Box */

.counter-info {
    width: 33.33%;
}

.memory-row {
    position: relative;
    max-width: 42rem;
    max-height: 42rem;
    margin-left: auto;
    margin-right: auto;
}

.memory-select {
    width: 27.33%;
    border-style: solid;
    margin: 3%;
    padding-top: 27.33%;
}

.memory-start {
    width: 80%;
    height: 4rem;
    line-height: 4rem;
    border-style: solid;
    margin: 1rem 1rem 10% 10%;
    font-size: 2rem;
}

/* ---------------------------------- Text */

.font-exo {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    text-align: center;
} 