:root {
    --sudoku-background: #966dbf;

    --sudoku-main-margin: 40px;

    /* Same values as in sudoku.js */
    --sudoku-color-correct: limegreen;
    --sudoku-color-incorrect: orangered;
    --sudoku-color-text: #59bfdf;
}

.flex-auto-horizonal {
    flex: 0 0 auto !important;
    overflow: hidden;
    height: 100%;
}

@media (max-aspect-ratio: 1.35 / 1) {
    .flex-sudoku {
        flex-direction: column;
    }

    .flex-sudoku > div {
        width: 100%;
    }

    .flex-auto-horizonal {
        flex: 1 0 0% !important;
    }

    .flex-auto-vertical {
        flex: 0 0 auto !important;
    }
}

.background-sudoku {
    /* Maybe an image would be better for this instead... */
    background: url('../imgs/sudoku.png') var(--sudoku-background);
    background-position: center;
}

.sudoku-title {
    color: var(--sudoku-color-text);
}

.sudoku-main {
    width: calc(100% - calc(var(--sudoku-main-margin) * 2));
    height: calc(100% - calc(var(--sudoku-main-margin) * 2));
    margin: var(--sudoku-main-margin);
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

.sudoku-color-correct {
    color: var(--sudoku-color-correct);
}

.sudoku-color-incorrect {
    color: var(--sudoku-color-incorrect);
}
